PUBPOL 542

Deliverable 3

Elena Popic

## Part 1: "Solving optimization problems using Python" 

This part of the assignment focuses on solving an optimization problem published on https://www.coursehero.com/study-guides/sanjacinto-finitemath1/reading-solving-standard-maximization-problems-using-the-simplex-method/ 

(last accessed March 10, 2023)

The conditions of the optimization problem are the following:

"A new airline has decided to join the market. It is considering offering flights out of Phoenix, AZ, and would initially like to travel to three different locations: San Diego, San Francisco, and Las Vegas. The distances of each round-trip flight going out of Phoenix are (approximately): 720 miles, 1500 miles, and 1140 miles, respectively. The company would like to use the slogan, "the average price per flight is never more than $200." As for costs, it anticipates flights to San Diego will run about 10 percent of airfare. Similarly, San Francisco will run 12 percent and Las Vegas will run 14 percent of airfare. The company wants to ensure that the overall average cost is no more than 10 percent of earned airfare. Recent market research allows the company to conclude that it could probably sell about 1900 San Diego tickets, 700 San Francisco tickets, and 1000 Las Vegas ticket. Under these conditions and assuming that all tickets sold are round-trip flights, how much should the company charge per ticket in order to maximize its total revenue?"

In [1]:
# Importing the necessary functions from the PuLP package:

from pulp import LpMinimize
from pulp import LpMaximize,LpProblem,LpVariable,LpConstraint, value
from pulp import COIN_CMD
from pulp import LpConstraintGE as GE
from pulp import LpConstraintLE as LE
from pulp import LpConstraintLE as EQ

In [2]:
# Setting-up the model given the goal of the problem to maximize overall revenue:

model = LpProblem(name='airline-problem', sense=LpMaximize)

In [3]:
# Defining decision variables 
# (each of the three price variables is continuous and cannot be lower than 0):

SDP = LpVariable(name="San_Diego_Price", lowBound=0, cat='Continuous') 
SFP = LpVariable(name="San_Francisco_Price", lowBound=0, cat='Continuous')
LVP = LpVariable(name="Las_Vegas_Price", lowBound=0, cat='Continuous')

In [4]:
# Revenue is calculated as a sum of the products between the total number of tickets sold for each flight and the price charged for the respective flight. 
# Defining the objective function for our model based on the revenue equation:

obj_func = 1900*SDP + 700*SFP + 1000*LVP

In [5]:
# Defining the constraints:

# Constraint 1: Average price is not higher than 200 USD. Below I use the reduced form of the equation: (SDP + SFP + LVP)/3<=200
C1 = LpConstraint(name="Price_Constraint", e = SDP + SFP + LVP, sense=LE, rhs=600) 
# Constraint 2: The overall average cost is no more than 10 percent of revenue 
# as expressed by the equation: 0.10*1900*SDP + 0.12*700*SFP + 0.14*1000*LVP <= 0.10(1900*SDP + 700*SFP + 1000*LVP), 
# reduced to 190*SDP + 84*SFP + 140*LVP ≤ 190*SDP + 70*SFP + 100*LVP, and finally to 14*SFP + 40*LVP ≤ 0 
C2 = LpConstraint(name="Cost_Constraint", e = 14*SFP + 40*LVP, sense=LE, rhs=0)

In [6]:
# Adding the information on constraints and objective function to the model:

model += obj_func
model += C1
model += C2

# Solving the problem:

solver = COIN_CMD(msg=False)
result = model.solve(solver)

In [7]:
# Printing the optimal solution to the problem (i.e., the optimal prices to charge for each destination):

print ("Optimal Result:")
for variable in model.variables():
    print (variable.name, "=", variable.varValue)

Optimal Result:
Las_Vegas_Price = 0.0
San_Diego_Price = 600.0
San_Francisco_Price = 0.0

In [8]:
# Printing the total maximum revenue:

print ("Total maximum revenue:")
print (value(model.objective))

Total maximum revenue:
1140000.0

In [9]:
# Printing the slack/surplus values for each constraint in the optimization model to check if all constraints are satisfied:

print ("Slack/Surplus")
for name, constraint in model.constraints.items():
    print(name + ':' + str(constraint.value()))

Slack/Surplus
Price_Constraint:0.0
Cost_Constraint:0.0



Based on the above output, the company can gain a maximum revenue of 1,140,000 USD by selling tickets to San Diego at the price of 600 USD per ticket. 

However, it has to be mentioned that this solution satisfies the average price constraint (i.e., no more than 200 USD per flight) only if the other two destinations are operated at a price of zero so that (600+0+0)/3=200, which is not a realistic scenario. 

The current problem conditions express the average cost only in terms of revenue which in turn is based on price, so in the absence of other details the model optimizes the cost by setting two of the input prices to zero. 

In the below lines of code, I create a new model based on the original problem with adjusted and additional constraints to the following ends:

a) adjust the cost constraint to 14% of revenue as opposed to the original 10%, since only the San Diego flight's cost is defined at 10% of airfare, while the cost for the other two flights are defined at 12% and 14% of airfare, which given the constraint that "overall average cost is no more than 10 percent of earned airfare" might explain the above solution generated by the algorithm to charge only on the San Diego flight. 
b) equalize cost per mile across flights using the data on flight mileage from the original problem.

In [10]:
# Adjusted constraints:
# The overall average cost is no more than 14 percent of revenue:
C2_2 = LpConstraint(name="Cost_Constraint_2", e = 76*SDP + 14*SFP, sense=GE, rhs=0)
# The next set of constraints use the data on mileage and set the cost per mile to be equal across flights: 0.10*SDP/720=0.12*SFP/1500=0.14*LVP/1140 
C3 = LpConstraint(name="CostperMile_Constraint_3", e = 150*SDP - 86.4*SFP, sense=EQ, rhs=0)
C4 = LpConstraint(name="CostperMile_Constraint_4", e = 114*SDP - 100.8*LVP, sense=EQ, rhs=0)
C5 = LpConstraint(name="CostperMile_Constraint_5", e = 136.8*SFP - 210*LVP, sense=EQ, rhs=0)

In [11]:
# Determing solutions for the problem with adjusted constraints defined above:

#Setting-up the new model and adding information on adjusted constraints:

model2 = LpProblem(name='airline-problem2', sense=LpMaximize)
model2 += obj_func #same objective function as in the first model
model2 += C1 #same average price constraint as in the first model
model2 += C2_2 #adjusted average cost constraint
model2 += C3
model2 += C4
model2 += C5

# Solving the problem:

solver = COIN_CMD(msg=False)
result = model2.solve(solver)

In [12]:
# Printing the optimal solution to the problem (i.e., the optimal prices to charge for each destination):

print ("Optimal Result:")
for variable in model2.variables():
    print (variable.name, "=", variable.varValue)

Optimal Result:
Las_Vegas_Price = 175.4746
San_Diego_Price = 155.15649
San_Francisco_Price = 269.36891

In [13]:
# Printing the total maximum revenue:

print ("Total maximum revenue:")
print (value(model2.objective))

Total maximum revenue:
658830.1680000001

In [14]:
# Printing the slack/surplus values for each constraint in the optimization model to check if all constraints are satisfied:

print ("Slack/Surplus")
for name, constraint in model2.constraints.items():
    print(name + ':' + str(constraint.value()))

Slack/Surplus
Price_Constraint:0.0
Cost_Constraint_2:15563.05798
CostperMile_Constraint_3:-0.0003240000041841995
CostperMile_Constraint_4:0.00017999999909079634
CostperMile_Constraint_5:0.000888000002305489

Based on the above output for the second model, the company can gain a maximum revenue of 658,830 USD by selling tickets to Las Vegas at the price of 175 USD, San Diego at 155 USD, and San Francisco at 269 USD per ticket. However, it is to be noted that this output violates the average cost constraint by 15563, while fully complying with the average price constraint.

## Part 2: "Social simulation"

The following section codes the game "ROCK PAPER SCISSORS SPOCK LIZARD", and models random player/agent behavior to examine overall outcomes of the simulation.

In [84]:
# Defining the strategies of the game:

strategies=['Rock','Paper','Scissors', 'Spock', 'Lizard']

In [85]:
# Defining the pay-off for each combination of strategies:

payoff={('Scissors','Paper'):(1,0),
        ('Paper','Scissors'):(0,1),
        ('Paper','Rock'):(1,0),
        ('Rock','Paper'):(0,1),
        ('Rock','Lizard'):(1,0),
        ('Lizard','Rock'):(0,1),
        ('Lizard','Spock'):(1,0),
        ('Spock','Lizard'):(0,1),
        ('Spock','Scissors'):(1,0),
        ('Scissors','Spock'):(0,1),
        ('Scissors','Lizard'):(1,0),
        ('Lizard','Scissors'):(0,1),
        ('Lizard','Paper'):(1,0),
        ('Paper','Lizard'):(0,1),
        ('Paper','Spock'):(1,0),
        ('Spock','Paper'):(0,1),
        ('Rock','Paper'):(0,1),
        ('Spock','Rock'):(1,0),
        ('Rock','Spock'):(0,1),
        ('Rock', 'Scissors'):(1,0),
        ('Scissors', 'Rock'):(0,1),
        ('Scissors', 'Scissors'):(0,0),
        ('Paper', 'Paper'):(0,0),
        ('Rock', 'Rock'):(0,0),
        ('Lizard', 'Lizard'):(0,0),
        ('Spock', 'Spock'):(0,0)}

In [86]:
# Creating players/agents and their strategies:

Players=[{'name':'Galileo','score':0,'strategy':None},
         {'name':'Giordano','score':0,'strategy':None}]

In [87]:
# Importing the choice function from the random module:
from random import choice

# Modeling random behavior - randomly selecting one of the elements in the strategies list:
choice(strategies)

'Rock'

In [88]:
# Modeling a game with random selection of strategy by each player:

Players[0]['strategy']=choice(strategies)
Players[1]['strategy']=choice(strategies)

In [89]:
# Examining the elements in the players' dictionaries to see their score and strategy:

Players

[{'name': 'Galileo', 'score': 0, 'strategy': 'Rock'},
 {'name': 'Giordano', 'score': 0, 'strategy': 'Paper'}]

In [90]:
Players[0]['strategy'],Players[1]['strategy']

('Rock', 'Paper')

In [91]:
# Retrieving the sequence of payoffs corresponding to the strategies selected by players/agents:

result = payoff[Players[0]['strategy'],Players[1]['strategy']]
result

(0, 1)

In [92]:
# Updating the scores of each player based on their payoff obtained from playing:

Players[0]['score']+=result[0]
Players[1]['score']+=result[1]

In [93]:
# Summarizing the current players scores:

Players

[{'name': 'Galileo', 'score': 0, 'strategy': 'Rock'},
 {'name': 'Giordano', 'score': 1, 'strategy': 'Paper'}]

In [94]:
# Importing pandas to work with dataframes: 

import pandas as pd 

# Creating a dataframe to store the scores and the strategies of players:

socialResults=pd.DataFrame((Players[0], Players[1]))
socialResults

       name  score strategy
0   Galileo      0     Rock
1  Giordano      1    Paper

In [95]:
# Creating a variable to store the highest score:
winnerScore=socialResults.score.max()

# Including only the rows where the score column is equal to winnerScore:
socialResults[socialResults.score==winnerScore]

       name  score strategy
1  Giordano      1    Paper

In [96]:
# Creating a list with more player names for the game:

names=['Amadeus','Ludwig','Frederic','Antonio']

In [97]:
# Setting-up a list of dictionaries for each player name in the above list:

society=[{'name':n,'score':0,'strategy':None} for n in names]

In [98]:
# Importing the itertools module:

import itertools 

# Using the combinations method to generate all possible unique pairs of elements in the society list:

for pair in itertools.combinations(society,2):
    
# Printing the pairs of combinations:

    print(pair)

({'name': 'Amadeus', 'score': 0, 'strategy': None}, {'name': 'Ludwig', 'score': 0, 'strategy': None})
({'name': 'Amadeus', 'score': 0, 'strategy': None}, {'name': 'Frederic', 'score': 0, 'strategy': None})
({'name': 'Amadeus', 'score': 0, 'strategy': None}, {'name': 'Antonio', 'score': 0, 'strategy': None})
({'name': 'Ludwig', 'score': 0, 'strategy': None}, {'name': 'Frederic', 'score': 0, 'strategy': None})
({'name': 'Ludwig', 'score': 0, 'strategy': None}, {'name': 'Antonio', 'score': 0, 'strategy': None})
({'name': 'Frederic', 'score': 0, 'strategy': None}, {'name': 'Antonio', 'score': 0, 'strategy': None})

In [99]:
# Assigning each pair of combinations to the variables player1 and player2:

for player1,player2 in itertools.combinations(society,2):
    print(player1,player2)

{'name': 'Amadeus', 'score': 0, 'strategy': None} {'name': 'Ludwig', 'score': 0, 'strategy': None}
{'name': 'Amadeus', 'score': 0, 'strategy': None} {'name': 'Frederic', 'score': 0, 'strategy': None}
{'name': 'Amadeus', 'score': 0, 'strategy': None} {'name': 'Antonio', 'score': 0, 'strategy': None}
{'name': 'Ludwig', 'score': 0, 'strategy': None} {'name': 'Frederic', 'score': 0, 'strategy': None}
{'name': 'Ludwig', 'score': 0, 'strategy': None} {'name': 'Antonio', 'score': 0, 'strategy': None}
{'name': 'Frederic', 'score': 0, 'strategy': None} {'name': 'Antonio', 'score': 0, 'strategy': None}

In [100]:
# Resetting the society list which contains dictionaries for each player:

society=[{'name':n,'score':0,'strategy':None} for n in names]

# Setting-up a loop to play 100 iterations where each player randomly choses a strategy,
# and the score is updated based on the results of each round:

for aRound in range(100):     
    for player1,player2 in itertools.combinations(society,2):
        player1['strategy']=choice(strategies)
        player2['strategy']=choice(strategies)
        result=payoff[player1['strategy'],player2['strategy']]
        player1['score']+=result[0]
        player2['score']+=result[1]

In [101]:
# Examining the final state of the simulation by looking at the contents of the society list, 
# which contains updated dictionaries for each player with their final scores and strategies:

society

[{'name': 'Amadeus', 'score': 125, 'strategy': 'Scissors'},
 {'name': 'Ludwig', 'score': 113, 'strategy': 'Spock'},
 {'name': 'Frederic', 'score': 99, 'strategy': 'Paper'},
 {'name': 'Antonio', 'score': 128, 'strategy': 'Spock'}]

In [102]:
# Converting the society list of dictionaries into a Pandas pandas dataframe:

socialResults=pd.DataFrame(society)
socialResults

       name  score  strategy
0   Amadeus    125  Scissors
1    Ludwig    113     Spock
2  Frederic     99     Paper
3   Antonio    128     Spock

In [103]:
# Creating a variable to store the highest score:

winnerScore=socialResults.score.max()

# Including only the rows where the score column is equal to winnerScore:

socialResults[socialResults.score==winnerScore]

      name  score strategy
3  Antonio    128    Spock

The final results of the simulation point out that, in this particular game, Antonio who chose the "Spock" strategy ended up to be the most successful with the highest score of 128 points, while Frederic playing the "Paper" strategy was the least gainful with 99 points. 

In the following, I'm determining the average score of the players who chose "Spock"  to see the overall performance of this strategy:

In [104]:
# Filtering the dataframe to only include rows with the "Spock" strategy:

spock_df = socialResults[socialResults['strategy'] == 'Spock']

# Calculating the average score of the players - Ludwig and Antonio - who chose "Spock":
avg_score_spock = spock_df['score'].mean()

# Printing the result:
print('Average score of players who chose "Spock":', avg_score_spock)

Average score of players who chose "Spock": 120.5